<p id="notice"><%= notice %></p>

<p>
  <h1><strong><%= @game.name %></strong></h1>

</p>

<p>
  <%= image_tag @game.picture, class: "showpic" %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @game.genre %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @game.platform.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<section class="review_form">
  <%= render 'shared/review_form' %>
</section>

<div class="col-md-8">
  <h3>Review Feed</h3>
    <% @game_reviews.each do |x| %>
      <p> <%= gravatar_for User.find(x.user_id) %> </p>
      <p> <strong> <h4> <%= User.find(x.user_id).username %> </h4> </strong> </p>
      <p> <%= x.content %> </p>
    <% end %>
</div>
